@import "variables";

.landing-nav {
    height: 10%;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: $primary;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    background-color: $secondary;
}


button {
    background-color: $success;
    border: 2px solid $success;
    border-radius: 5px;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}




button:hover {
    background-color: $info;
    color: white;
    border: 2px solid $info;
}

h1,
h2 {
    text-align: center;
    font-weight: 900;
}
a {
    margin: 10px;
}

.button-c {
    justify-content: center;
}

.start-panel {
    display: flex;
    justify-content: center;
    margin: 6%;
}

.edithor-figure figure img {
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:active, a:hover, a:visited {
    color: #000000;
}
