@import "variables";

.file-tree {
    background-color: $secondary;
    overflow: scroll;
    // display: none;
}

.editor {
    background-color: $info;
}

.console {
    background-color: $extra;
    color: white;
    overflow: scroll;
}

.editor textarea {
    background-color: $info;
    border: none;
    color: white;
}

@media (min-width: 992px) {
    .file-tree {
        // display: inherit;
        background-color: $secondary;
        overflow: scroll;
    }
}
