@import "variables";

.file-tree {
    background-color: $secondary;
    overflow: scroll;
    // display: none;
}

.editor {
    background-color: $info;
    position: absolute;
    height: 900px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.console {
    background-color: $extra;
    color: white;
    overflow: scroll;
}

.actions {
    background-color: $extra;
    color: white;
    overflow: hidden;
}

@media (min-width: 992px) {
    .file-tree {
        // display: inherit;
        background-color: $secondary;
        overflow: scroll;
    }
}

@media (min-height: 768px) {
    .editor {
        height: 758px;
    }
}

@media (min-height: 992px) {
    .editor {
        height: 982px;
    }
}

@media (min-height: 1200px) {
    .editor {
        height: 1190px;
    }
}
