// Color palette

$primary:   #253237;
$secondary: #5C6784;
$extra:     #000022;
$success:   #0094C6;
$info:      #005E7C;
$danger:    #D33F49;
$warning:   #F9CB40;

// Font family
$font-family: Helvetica;
