<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Create project</title>
    <link rel="stylesheet" href="../../public/css/projects.css">
</head>
<body>

    <div class="container">
        <form action="" method="POST">
            <div class="row">
                <h2>
                    Create new project
                </h2>
            </div>
            <div class="row">
                <div class="column">
                    <div class="row">
                        <div class="column">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="give your project a cool name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <label for="description">Description</label>
                            <textarea
                                name="description"
                                rows="2"
                                cols="80"
                                placeholder="Describe your project in a few words"
                            ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <button class="btn-danger" type="button" name="cancel">Cancel</button>
                        </div>
                        <div class="column">
                            <button class="btn-success" type="submit" name="save">Create project</button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    Participants
                    <ul>
                        <li>wat</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
