<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Projects</title>
    <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/projects.css">
    <script type="text/javascript" src="../../public/js/vendor/fontawesome-all.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a class="btn-success" href="create.html">Create new project</a>
            </div>
        </div>
        <div class="card-actions" id="filters">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <label>
                        Name
                        <input type="text" name="" value="" placeholder="My project">
                    </label>
                </div>
                <div class="col-sm-6">
                    <label>
                        Status
                        <input type="text" name="" value="" placeholder="active | archived">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button type="button" name="button" class="btn">
                        <i class="fas fa-filter"></i>
                        <span class="btn-txt">Filter</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-actions" style="display: none;" id="actions">
            <div class="row">
                <div class="col-3">
                    <button type="button" name="button" class="btn">
                        <i class="fas fa-download"></i>
                        <span class="btn-txt">Download as zip</span>
                    </button>
                </div>
                <div class="col-3">
                    <button type="button" name="button" class="btn" id="btnDelete">
                        <i class="fas fa-times-circle"></i>
                        <span class="btn-txt">Delete</span>
                    </button>
                </div>
                <div class="col-3">
                    <button type="button" name="button" class="btn" id="btnSelect">
                        <i class="fas fa-check-circle"></i>
                        <span class="btn-txt">Select all</span>
                    </button>
                    <button type="button" name="button" class="btn" id="btnDeselect" style="display: none;">
                        <i class="fas fa-circle"></i>
                        <span class="btn-txt">Deselect all</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://via.placeholder.com/200x200" alt="Project A">
                </div>
                <div class="col-sm-6">
                    <div class="title">
                        <a href="show.html">Project name</a>
                    </div>
                    <div class="description">
                        Project description Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.
                    </div>
                </div>
                <div class="col-sm-3 project-footer">
                    <p>
                        4 participants
                    </p>
                    <p>
                        Updated less than 1 hour ago
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://via.placeholder.com/200x200" alt="Project A">
                </div>
                <div class="col-sm-6">
                    <div class="title">
                        <a href="show.html">Yet another project</a>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </div>
                </div>
                <div class="col-sm-3 project-footer">
                    <p>
                        2 participants
                    </p>
                    <p>
                        Updated a week ago
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>
    <script type="text/javascript" src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>
    <script type="text/javascript" src="../../public/js/actions.js"></script>
    <script type="text/javascript" src="../../public/js/projects.js"></script>
</html>
