<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Projects</title>
    <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/projects.css">

    <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
    <link rel="stylesheet" href="../../public/css/commons.css">
    <script type="text/javascript" src="../../public/js/vendor/fontawesome-all.min.js"></script>
</head>
<body>
    <div class="container-fluid" id="container_body">

    </div>

</body>
    <script type="text/javascript" src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>

    <script type="text/javascript" src="../../public/js/validation_form.js"></script>
    <script type="text/javascript" src="../../public/js/actions.js"></script>
    <script type="text/javascript" src="../../public/js/projects.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/common_elements.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/after_code_insertion.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/commons.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/projects/index.js"></script>
</html>
