<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Projects</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <ul class="project">
                <li>
                    <div class="row">
                        <div class="column">
                            <img src="http://lorempixel.com/200/200/" alt="Project A">
                        </div>
                        <div class="column">
                            <div>
                                <h2>
                                    <a href="show.html">
                                        Project A
                                    </a>
                                </h2>
                            </div>
                            <div class="description">
                                Project description Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.
                            </div>
                        </div>
                        <div class="column project-footer">
                            <div>
                                4 participants
                            </div>
                            <div>
                                Updated less than 1 hour ago
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="column">
                            <img src="http://lorempixel.com/200/200/" alt="Project A">
                        </div>
                        <div class="column">
                            <div>
                                <h2>
                                    <a href="show.html">
                                        Project B
                                    </a>
                                </h2>
                            </div>
                            <div class="description">
                                Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip.
                            </div>
                        </div>
                        <div class="column project-footer">
                            <div>
                                2 participants
                            </div>
                            <div>
                                Updated a week ago
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <a href="create.html">
                Create new project
            </a>
        </div>

    </div>
</body>
</html>
