<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Project name</title>
    <link rel="stylesheet" href="../../public/css/projects.css">
</head>
<body>

    <div class="container">

        <div class="title">
            Project name
        </div>

        <div class="grid">
            <div class="col-md-6">
                <div class="card">
                    <div class="grid">
                        <div class="col-xs-12">
                            <div class="card-header">Members</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-md-4">
                            <img src="http://via.placeholder.com/200x200" alt="Project A">
                        </div>
                        <div class="col-md-4">
                            <div>
                                <a href=""><h3>Some name</h3></a>
                            </div>
                            <div class="description">
                                Developer
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <a href="">remove from project</a>
                            </p>
                            <p>
                                Active less than 1 hour ago
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-md-4">
                            <img src="http://via.placeholder.com/200x200" alt="Project A">
                        </div>
                        <div class="col-md-4">
                            <div>
                                <a href=""><h3>Some name</h3></a>
                            </div>
                            <div class="description">
                                Tester
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <a href="">remove from project</a>
                            </p>
                            <p>
                                Active less than 1 hour ago
                            </p>
                        </div>
                    </div>
                    <div class="grid">
                            <div class="col-xs-12">
                                <button class="btn btn-success" type="button" name="button">Add member</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="grid">
                        <div class="col-12">
                            <div class="card-header">
                                Files
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-md-6">
                <div class="card">
                    <div class="grid">
                        <div class="col-xs-12">
                            <div class="card-header">Stats</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-xs-12">
                            Some stats
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="grid">
                        <div class="col-xs-12">
                            <div class="card-header">Recent activity</div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-xs-12">
                            <ul>
                                <li>
                                    Someone updated /src/css/style.css an hour ago.
                                </li>
                                <li>
                                    Someone else deleted /src/js/script.js a day ago.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-xs-12">
                <a href="index.html">Back to project list</a>
            </div>
        </div>

    </div>

</body>
</html>
