<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Project name</title>
    <link rel="stylesheet" href="../../public/css/projects.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Project name</h2>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">
                    <h3>Members</h3>
                </div>
                <div class="row member">
                    <img style="width: 100px;" src="http://lorempixel.com/100/100/" alt="Member name">
                    <div class="column">
                        <a href="">
                            <span class="name">Some name</span>
                        </a>
                        <span class="role">
                            Developer
                        </span>
                    </div>
                    <div class="column project-footer">
                        <span>Active 1 hour ago.</span>
                        <a href="#">remove from project</a>
                    </div>
                </div>
                <div class="row member">
                    <img style="width: 100px;" src="http://lorempixel.com/100/100/" alt="Member name">
                    <div class="column">
                        <a href="">
                            <span class="name">Some other name</span>
                        </a>
                        <span class="role">
                            Tester
                        </span>
                    </div>
                    <div class="column project-footer">
                        <span>Active now.</span>
                        <a href="#">remove from project</a>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button class="btn-success" type="button" name="button">Add new member</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            Files
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            some files :v
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            Some stats
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            some stats
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            Recent activity
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <ul>
                                <li>Someone did something (less than a minute ago)</li>
                                <li>File deleted (Yesterday)</li>
                                <li>New file added (Yesterday)</li>
                                <li>Someone else did something else (More than a week ago)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="index.html">Back to projects index</a>
        </div>
    </div>
</body>
</html>
