<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EdiTHOR | Project name</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <div class="row">
        <h2>Project name</h2>
    </div>
    <div class="row">
        <div class="column">
            <div class="row">
                <h3>Members</h3>
            </div>
            <a class="member-card" href="">
                <div class="row member">
                    <img style="width: 100px;" src="http://lorempixel.com/100/100/" alt="Member name">
                    <div class="column">
                        Some name
                        <span class="role">
                            Developer
                        </span>
                    </div>
                    <div class="column project-footer">
                        Active 1 hour ago.
                    </div>
                </div>
            </a>
            <a class="member-card" href="">
                <div class="row member">
                    <img style="width: 100px;" src="http://lorempixel.com/100/100/" alt="Member name">
                    <div class="column">
                        Some other name
                        <span class="role">
                            Tester
                        </span>
                    </div>
                    <div class="column project-footer">
                        Active now.
                    </div>
                </div>
            </a>
        </div>
        <div class="column">
            <div class="row">
                <h3>Files</h3>
            </div>
            <div class="row">
                some files :v
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="row">
                <h3>Some stats</h3>
            </div>
            <div class="row">
                some stats
            </div>
        </div>
        <div class="column">
            <div class="row">
                <h3>Recent activity</h3>
            </div>
            <div class="row">
                <ul>
                    <li>Someone did something (less than a minute ago)</li>
                    <li>File deleted (Yesterday)</li>
                    <li>New file added (Yesterday)</li>
                    <li>Someone else did something else (More than a week ago)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="index.html">Back to projects index</a>
    </div>
</body>
</html>
