.footer,
.top-nav {
  background-color: #253237; }

.side-form,
.logo {
  background-color: #5C6784; }

.footer a {
  color: white;
  text-decoration: none; }

body {
  margin: inherit; }

.top-nav form {
  float: right;
  padding: 6px;
  border: none;
  margin: 8px 16px; }

.logo img {
  width: 90%; }

button {
  background-color: #253237;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.links a:nth-child(1) {
  background-color: #253237; }

.links a,
.links a:link {
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px; }

.links a:last-child {
  background-color: #0094C6; }
