<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | FAQ</title>
        <link rel="stylesheet" href="../../public/grid_system.css">
        <link rel="stylesheet" href="../../public/css/other/FAQ.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="container-full">
            <div class="grid top-nav">
                <div class="col-sm-12 ">
                    <div class="grid">
                        <div class="col-sm-6 col-xs-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                    <div class="col-sm-6 col-xs-12">
                        <form class="#" method="post">
                            <input type="search" placeholder="Search...">
                        </form>
                    </div>

                </div>
                </div>
            </div>
            <div class="grid questions">
                <div class="col-xs-12">
                    <h2>Frequently asked questions</h2>
                    <button class="accordion">Question 1</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 2</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">The answer to life, the universe and everything</button>
                    <div class="panel">
                        <p>42.</p>
                    </div>

                    <button class="accordion">Question 4</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 5</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 6</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 7</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 8</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 9</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 10</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <div class="grid footer">
                <div class="col-xs-12">
                <div class="grid">
                    <div class="col-sm-3">
                        <a href="#"><span>Contact</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>Privacy</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>About us</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>FAQ</span></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <script src="../../public/js/other/FAQ.js"></script>
    </body>
</html>
