<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Contact</title>
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/other/basic_style.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>

        <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
        <link rel="stylesheet" href="../../public/css/commons.css">
        <script type="text/javascript" src="../../public/js/vendor/fontawesome-all.min.js"></script>
    </head>
    <body id="super-body">
        <div class="container-fluid fill" id="container_body">

        </div>
    </body>
    <script src="../../public/js/other/FAQ.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/common_elements.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/after_code_insertion.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/commons.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/others/contact.js"></script>
</html>
