<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | FAQ</title>
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/other/basic_style.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top-nav">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form class="#" method="post">
                                <input type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row questions">
                <div class="col-sm-12">
                    <h2>Frequently asked questions</h2>
                    <button class="accordion">Question 1</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 2</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">The answer to life, the universe and everything</button>
                    <div class="panel">
                        <p>42.</p>
                    </div>

                    <button class="accordion">Question 4</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 5</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 6</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 7</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 8</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 9</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <button class="accordion">Question 10</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="">
                        <br>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Contact</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Privacy</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>About us</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>FAQ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../public/js/other/FAQ.js"></script>
    </body>
</html>
