<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Privacy</title>
        <link rel="stylesheet" href="../../public/css/grid_system.css">
        <link rel="stylesheet" href="../../public/css/other/basic_style.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="container-full">
            <div class="grid top-nav">
                <div class="col-sm-12 ">
                    <div class="grid">
                        <div class="col-sm-6 col-xs-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                    <div class="col-sm-6 col-xs-12">
                        <form class="#" method="post">
                            <input type="search" placeholder="Search...">
                        </form>
                    </div>

                </div>
                </div>
            </div>
            <div class="grid questions">
                <div class="col-sm-4 col-xs-12 logo">
                    <figure>
                        <img src="../../public/img/common/thor-trans-1.png" alt="mjolnir">
                    </figure>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <h2>Privacy policy</h2>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="grid footer">
                <div class="col-xs-12">
                <div class="grid">
                    <div class="col-sm-3">
                        <a href="#"><span>Contact</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>Privacy</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>About us</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>FAQ</span></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <script src="../../public/js/other/FAQ.js"></script>
    </body>
</html>
