<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="file_explorer_container">
            <section>
                <div class="folder">
                    <button class="folder_dropdown">Folder1
                        <i></i>
                    </button>
                    <div>
                        <a href="#">File1.1</a>
                        <a href="#">File1.2</a>
                    </div>
                </div>
                <a href="#">File1</a>
                <a href="#">File2</a>
                <a href="#">File3</a>
            </section>
        </div>
    </body>
</html>
