.landing-nav {
    align-self: center;
    height: 10%;
    width: 90%;
    display: flex;
    margin: 5px auto;
    overflow: hidden;
    background-color: #253237;
    justify-content: space-between;
}

button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

h1 {
    text-align: center;
}
a {
    margin: 10px;
}

.landing-body {
    display: flex;
    justify-content: space-around;
}
