.personal-nav {
    height: 10%;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #253237;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personal-info {
    min-height: 550px;
    margin-top: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
}

.landing-footer {
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #005E7C;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

a {
    margin: 10px;
}

.contact-profile {
    display: flex;
    justify-content: space-around;
    height: 10%;
}

.personal-picture {
    height: 45%;
}

.edit-button-container {
    height: 5%;
}

.email-info {
    height: 10%
}
.date {
    height: 5%;
}
.projects {
    height: 25%;
}
.projects p{
    text-align: center;
}

body {
    margin: inherit;
    background-color: #5C6784;
}

button {
    background-color: #0094C6;
    border: 2px solid #0094C6;
    border-radius: 5px;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 10% 15px;;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #005E7C;
    color: white;
    border: 2px solid #005E7C;
}

/***********************************/
.circular-chart {
  display: block;
  margin: 10px auto;
  width: 250px;
  max-height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/*----------------------------*/
.sign {
    height: 30px;
    width: 90px;
}

.edit {
    height: 30px;
    width: 70px;
}

#perfil img{
    border-radius: 50%;
    width: 100px;
    height: auto;
    display: block;
    margin: 40px auto;
    width: 40%;
}

.general-use:nth-child(1) {
    flex-direction: column;
}

h3 {
    margin-left: 10px;
    font-weight: 500;
}
.circle-use {
    display: flex;
}
.email {
    margin: auto 5% auto 5%;
    text-align: center;
}

.personal-use {
    display: flex;
    flex-direction: column;
}

.general-use {
    margin-top: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 85%;
    margin-top: 3%;
    -webkit-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
}
