ul.project {
    list-style-type: none;
    padding: 0;
}

ul.project li {
    border-bottom: 1px solid #999999;
    padding: 15px;
}

.flex-container {
    width: 90%;
    margin: auto 5% auto 5%;
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
}

.topnav {
    overflow: hidden;
    background-color: #253237;
}

.topnav input[type=search] {
    float: right;
    padding: 6px;
    border: none;
    margin: 8px 16px;
}

div aside {
    /*border: 0.2em double #369;*/
    width: 45%;
    display: flex;
}

.contact-profile {
    display: flex;
    justify-content: space-around;
}
.email {
    margin: auto 5% auto 5%;
    text-align: center;
}

.personal-info {
    margin-right: 15px;
    margin-top: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
}

.personal-use {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
/*----------------------*/
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
/*------------------------*/
.general-use {
    margin-top: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 85%;
    margin-top: 3%;
    -webkit-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
    box-shadow: -11px 10px 5px -8px rgba(0,0,0,0.35);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

img {
    /* max-width: 100%; */
}

figcaption {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.column {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.description {
    font-style: italic;
}

.image {
    /* display: inline; */
}

img {
    width: 100%;
}

#perfil img{
    border-radius: 50%;
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.projects p{
    text-align: center;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:active, a:hover, a:visited {
    color: #000000;
}

.project-footer {
    justify-content: flex-end;
    text-align: right;
}

/*----------------------*/
input {
    text-align: center;
}

.edit {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 0.7em 0.5em 0.7em 0;
    float: right;
}
/*----------------------*/

.role {
    font-style: italic;
    color: #747475;
}

.member {
    background-color: #ccd4e2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.member:hover {
    background-color: #aac3ef;
}

a.member-card,
a.member-card:active,
a.member-card:hover,
a.member-card:visited {
    color: #000000;
    text-decoration: none;
}
