ul.project {
    list-style-type: none;
    padding: 0;
}

ul.project li {
    border-bottom: 1px solid #999999;
    padding: 15px;
}
.flex-container {
    width: 100%;
    /*height: 600px;
    max-height: 85vh;*/
    margin: auto;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.topnav {
    overflow: hidden;
    background-color: #253237;
}

.topnav input[type=search] {
    float: right;
    padding: 6px;
    border: none;
    margin: 8px 16px;
}

div aside {
    /*border: 0.2em double #369;*/
    width: 45%;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

img {
    /* max-width: 100%; */
}

figcaption {
    text-align: center;
    margin-bottom: auto;
    padding-top: 14px;
    padding-right: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.column {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.description {
    font-style: italic;
}

.image {
    /* display: inline; */
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:active, a:hover, a:visited {
    color: #000000;
}

.project-footer {
    justify-content: flex-end;
    text-align: right;
}

/*----------------------*/
input {
    text-align: center;
}

.edit {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 0.7em 0.5em 0.7em 0;
    float: right;
}
/*----------------------*/

.role {
    font-style: italic;
    color: #747475;
}

.member {
    background-color: #ccd4e2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.member:hover {
    background-color: #aac3ef;
}

a.member-card,
a.member-card:active,
a.member-card:hover,
a.member-card:visited {
    color: #000000;
    text-decoration: none;
}
