ul.project {
    list-style-type: none;
    padding: 0;
}

ul.project li {
    border-bottom: 1px solid #999999;
    padding: 15px;
}

.flex-container {
    width: 90%;
    margin: auto 5% auto 5%;
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
}

div aside {
    border: 0.2em double #369;
    width: 45%;
    display: flex;
}

.email {
    text-align: center;
}
.personal-info {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

img {
    /* max-width: 100%; */
}

figcaption {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.column {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.description {
    font-style: italic;
}

.image {
    /* display: inline; */
}

img {
    width: 100%;
}

#perfil img{
    border-radius: 50%;
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:active, a:hover, a:visited {
    color: #000000;
}

.project-footer {
    justify-content: flex-end;
    text-align: right;
}

/*----------------------*/
input {
    text-align: center;
}

.edit {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 0.7em 0.5em 0.7em 0;
    float: right;
}
/*----------------------*/

.role {
    font-style: italic;
    color: #747475;
}

.member {
    background-color: #ccd4e2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.member:hover {
    background-color: #aac3ef;
}

a.member-card,
a.member-card:active,
a.member-card:hover,
a.member-card:visited {
    color: #000000;
    text-decoration: none;
}
