/**********************************
Body
**********************************/
body {
    margin: inherit;
    background-color: #5C6784;
}

.login_body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/**********************************
Image hammer
**********************************/
.logo {
    width: 50%;
    background-color: #5C6784;
}

.logo img {
    width: 100%;
}

/**********************************
Login section
**********************************/
.login {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.login_form input{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 10px;
    resize: vertical;
    display: block;
}
.login_form label{
    padding: 12px;
    display: block;
}

.login_form {
    width: 90%;
}

.login h2 {
    text-align: center;
    font-style: italic;
}

.login_form button {
    background-color: #253237;
    color: white;
    float: right;
    padding: 12px;
    margin-right: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/**********************************
Register and forgot password
**********************************/

.links {
    width: 90%;
    margin-left: 30px;
}

.links a,
.links a:link{
    background-color: #0094C6;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.links a:hover, a:active {
    background-color: #111;
}
