/*----------------------------Recoverd password-------------------------------*/

.sideBar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
}

.logo img {
    width: 100%;
}

.recover_password {
    width: 40%;
    background-color: #5C6784;
}

.recover_password h3,
.recover_password h2 {
    text-align: center;
    font-style: italic;
}

.recover_password button {
    align-items: center;
    background-color: #253237;
    color: white;
    padding: 12px;
    margin: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
