/*---------------------------------Login--------------------------------------*/
label,
input {
    display: block;
}

.sideBar_login {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
}

.logo img {
    width: 100%;
}

.login {
    width: 40%;
    background-color: #5C6784;
    align-items: center;
}

.login h2 {
    text-align: center;
    font-style: italic;
}

.row {
    display: flex;
    justify-content: space-around;
}
