/*------------------------------------Recover password------------------------*/
label,
input {
    display: block;
}

.sideBar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
}

.logo img {
    width: 100%;
}

.recover_password_2 {
    width: 40%;
    background-color: #5C6784;
}

.recover_password_2_form input{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px 10px;
    resize: vertical
}

.recover_password_2_form label{
    padding: 12px;
}

.recover_password_2_form {
    width: 90%;
    margin: 5%;
}

.recover_password_2 h2 {
    text-align: center;
    font-style: italic;
}

.recover_password_2_form button {
    background-color: #253237;
    color: white;
    float: right;
    padding: 12px;
    margin-right: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
