@import "variables";

.footer,
.top-nav {
    background-color: $primary;
}

.side-form,
.logo {
    background-color: $secondary;
}

#filled-element {
    background-color: $secondary;
}

.edithor-navbar{
    float: left;
    padding: 6px;
    border: none;
    margin: 8px 8px;
    z-index: 1;
}

.footer a{
    color: white;
    text-decoration: none;
}
body {
    margin: inherit;
}
#user-logged{
    float: right;
    padding: 6px;
    border: none;
    margin: 10px 16px;
    background-color: $extra;
    color: white;
}

#user-logged a{
    color: $info;
}

.logo img {
     width: 80%;
}

button {
    background-color: $primary;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.links a:first-child {
    background-color: $primary;
}

.links a,
.links a:link{
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.links a:last-child {
    background-color: $success;
}
