/**********************************
RESET
**********************************/

h1,
h2,
h3 {
	font-family: 'Fredoka One', cursive;
}

img {
	cursor: pointer;
}


/**********************************
HEADER
**********************************/
header {
	background: #2d3038;
}

header h1 {
	color: white;
	height: 200px;
	padding: 40px;
}

/**********************************
SECTION - MAIN-CONTENT
**********************************/

#main-content {
	margin: 10px 5%;
	padding: 30px 40px;
}

/**********************************
SECTION - FAQ
**********************************/

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

/**********************************
FOOTER
**********************************/

footer {
	height: 200px;
	background: #2d3038;
	height: 200px;
	padding: 40px;
	color: white;
}

footer h3 {
	color: white;
}
