<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Landing page</title>
        <link rel="shortcut icon" href="../../public/img/common/thor-trans-ico.ico"/>
        <link rel="stylesheet" href="../../public/css/landing_page/landing_page.css">
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top-nav">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form class="" action="#" method="post">
                                <button type="button" name="button" class="sign">
                                    Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row main justify-content-md-center">
                <div class="col-sm-12">
                    <div class="edithor-text">
                        <h1>ediTHOR</h1>
                    </div>
                    <div class="">
                        <h2>The <span>mighty</span> online code editor and compiler.</h2>
                    </div>
                    <div class="edithor-figure text-center">
                            <figure>
                                <img src="../../public/img/common/lan-trans.png">
                            </figure>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" name="button"
                                class="star-button center-block">Start to code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" name="button"
                                class="sign-button">Sign up</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Contact</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Privacy</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>About us</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>FAQ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
