<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Landing page</title>
        <link rel="shortcut icon" href="../../public/img/common/thor-trans-ico.ico"/>
        <link rel="stylesheet" href="../../public/css/landing_page/landing_page.css">
        <link rel="stylesheet" href="../../public/css/grid_system.css">
    </head>
    <body>
        <div class="container-full">
            <div class="landing-nav">
                <a href="#" class="edithor-navbar">
                <img border="0" alt="ediTHOR" src="../../public/img/common/thor-trans-2.png"></a>
                <form class="" action="#" method="post">
                    <button type="button" name="button" class="sign">
                        Sign in</button>
                </form>
            </div>
            <div class="container-full">
                <div class="grid">
                    <div class="col-md-6">
                        <div class="edithor-text">
                            <h1>ediTHOR</h1>
                        </div>
                        <div class="">
                            <h2>The <span>mighty</span> online code editor and compiler.</h2>
                        </div>
                        <div class="edithor-figure">
                            <figure>
                                <img src="../../public/img/common/lan-trans.png">
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row-landing">
                            <div class="">
                                <button type="button" name="button"
                                    class="star-button">Start to code</button>
                            </div>
                            <div class="">
                                <button type="button" name="button"
                                    class="star-button">Sign up</button>
                            </div>
                        </div>
                        <div class="start-panel">
                            <figure>
                                <img src="../../public/img/common/thor-trans-1.png">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="flex-footer landing-footer">
        <a href="#"><span>Contact</span></a>
        <a href="#"><span>Privacy</span></a>
    </footer>
</html>
