<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Landing page</title>
        <link rel="shortcut icon" href="img/thor-trans-ico.ico"/>
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/css/landing_styles.css">
    </head>
    <body>
        <div class="landing-nav">
            <a href="#" class="edithor-navbar">
            <img border="0" alt="ediTHOR" src="img/thor-trans-2.png"></a>
            <form class="" action="#" method="post">
                <button type="button" name="button" class="sign">
                    Sign in</button>
            </form>
        </div>
        <div class="landing-body">
            <div class="panel">
                <div class="edithor-text">
                    <h1>ediTHOR</h1>
                </div>
                <div class="">
                    <h2>The <span>mighty</span> online code editor and compiler.</h2>
                </div>
                <div class="edithor-figure">
                    <figure>
                        <img src="img/lan-trans.png" alt="">
                    </figure>
                </div>
            </div>
            <div class="panel">
                <div class="start-panel">
                    <figure>
                        <img src="img/thor-trans-1.png" alt="">
                    </figure>
                </div>
                <div class="row-landing">
                    <div class="">
                        <button type="button" name="button" class="star-button">Start to code</button>
                    </div>
                    <div class="">
                        <button type="button" name="button" class="star-button">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="landing-footer">
        <a href="#"><span>Contact</span></a>
        <a href="#"><span>Privacy</span></a>
    </footer>
</html>
