<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR</title>
        <link rel="stylesheet" href="css/style_basic_style.css">
    </head>
    <body>
        <div class="topnav">
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="container_links">
            <nav>
                <ul>
                    <li><a href="#">some image here</a></li>
                    <li><a href="#">Editor</a></li>
                    <li><a href="#">My projects</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </div>
        <footer>
    		<h3>Contact us</h3>
    		<ul class="list-unstyled">
    			<li><span uk-icon="receiver"></span> 33 33333333</li>
    			<li><span uk-icon="mail"></span> ediThor@gmail.com</li>
    		</ul>
    	</footer>
    </body>
</html>
