<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Register</title>
        <link rel="stylesheet" href="css/basic_style.css">
        <link rel="stylesheet" href="css/forgot_password_style.css">
    </head>
    <body>
        <div class="topnav">
            <div class="link_icon">
                <a href="#" class="edithor-navbar">
                    <div class="topnav-icon">
                        <img id="img_1" border="0" alt="ediTHOR" src="img/thor-trans-2.png">
                        <img id="img_2" border="0" src="img/edithor-text.png" alt="ediTHOR">
                    </div>
                </a>
            </div>
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="forgot_password_body">
            <div class="navBar">
                <nav>
                    <ul>
                        <li><a href="#">Editor</a></li>
                        <li><a href="#">My projects</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <figure>
                    <img src="img/thor-trans-1.png" alt="mjolnir">
                </figure>
            </div>
            <div class="forgot_password">
                <section class="forgot_password_form">
                    <h2>I fotgot my password</h2>
                    <form class="" action="#" method="post">
                        <label for="username">Username or Email</label>
                        <input type="text" name="username" id="username" placeholder="Please provide an Username or Email">

                        <button type="sumit" name="button">Get back my account!</button>
                    </form>
                </section>
            </div>
        </div>
        <footer class="landing-footer">
            <a href="#"><span>Contact</span></a>
            <a href="#"><span>Privacy</span></a>
        </footer>
    </body>
</html>
