<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Forgot Password</title>
        <link rel="stylesheet" href="css/style_basic_style.css">
        <link rel="stylesheet" href="css/style_forgot_password.css">
    </head>
    <body>
        <div class="topnav">
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="sideBar">
            <div class="container_links">
                <nav>
                    <ul>
                        <li><a href="#">some image here</a></li>
                        <li><a href="#">Editor</a></li>
                        <li><a href="#">My projects</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <figure>
                    <img src="images/mjolnir.jpg" alt="mjolnir">
                </figure>
            </div>
            <div class="forgot_password">
                <section>
                    <h2>I fotgot my password</h2>
                    <form class="forgot_password_form" action="#" method="post">
                        <label for="username">Username or Email</label>
                        <input type="text" name="username" id="username" placeholder="Please provide an Username or Email">

                        <button type="sumit" name="button">Get back my account!</button>
                    </form>
                </section>
            </div>
        </div>
        <footer>
    		<h3>Contact us</h3>
    		<ul class="list-unstyled">
    			<li><span uk-icon="receiver"></span> 33 33333333</li>
    			<li><span uk-icon="mail"></span> ediThor@gmail.com</li>
    		</ul>
    	</footer>
    </body>
</html>
