<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Log In</title>
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
        <link rel="stylesheet" href="../../public/css/form_validate.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top-nav">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form class="#" method="post">
                                <input type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 logo">
                    <figure>
                        <img src="../../public/img/common/thor-trans-1.png" alt="mjolnir">
                    </figure>
                </div>
                <div class="col-md-6 col-sm-12 side-form">
                    <section class="side-logo">
                        <h2 class="col-sm-12">Login</h2>
                        <form class="col-sm-12" action="#" method="post" id="form-login">
                            <label class="col-lg-6 col-sm-12" for="username">Username</label>
                            <input class="col-lg-6 col-sm-12" type="text" name="username" id="username" placeholder="Username" required>

                            <label class="col-lg-6 col-sm-12" for="password">Password</label>
                            <input class="col-lg-6 col-sm-12" type="password" name="password" id="password" placeholder="Password" required>
                            <br><br>
                            <button class="col-lg-6 col-sm-12" type="submit" name="button">Log In!</button>
                        </form>
                    </section>
                    <div class="col-sm-12 links">
                        <a class="col-lg-8 col-sm-12" href="forgot_password.html">I forgot my password</a>
                        <p class="col-lg-8 col-sm-12">Don't have an account?</p>
                        <a class="col-lg-8 col-sm-12" href="register.html">Register here!</a>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Contact</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Privacy</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>About us</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>FAQ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>
        <script src="../../public/js/api_conection/commons.js"></script>
        <script src="../../public/js/validation_form.js"></script>
        <script src="../../public/js/api_conection/auth/index.js"></script>
        <script src="../../public/js/actions.js"></script>
    </body>
</html>
