<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Recover password 2</title>
        <link rel="stylesheet" href="../../public/css/grid_system.css">
        <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
        <link rel="stylesheet" href="../../public/css/form_validate.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    </head>
    </head>
    <body>
        <div class="container-full">
            <div class="grid top-nav">
                <div class="col-sm-12 ">
                    <div class="grid">
                        <div class="col-sm-6 col-xs-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                    <div class="col-sm-6 col-xs-12">
                        <form class="#" method="post">
                            <input type="search" placeholder="Search...">
                        </form>
                    </div>

                </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-sm-6 col-xs-12 logo">
                    <figure>
                        <img src="../../public/img/common/thor-trans-1.png" alt="mjolnir">
                    </figure>
                </div>
                <div class="col-sm-6 col-xs-12 side-form">
                    <section class="side-logo">
                        <h2 class="col-md-12 col-xs-12">Welcome back! Please change your password so you can get back your account:</h2>
                        <form action="#" method="post">
                            <label class="col-md-8 col-xs-12" for="password">Password</label>
                            <input class="col-md-8 col-xs-12" type="password" name="password" id="password" placeholder="Password" required>

                            <label class="col-md-8 col-xs-12" for="repeat-password">Password</label>
                            <input class="col-md-8 col-xs-12" type="password" name="repeat-password" id="repeat-password" placeholder="Please repeat the previous password" required>
                            <br><br>
                            <button class="col-md-8 col-xs-12" type="submit" name="button">Change my password!</button>
                        </form>
                    </section>
                </div>
            </div>
            <div class="grid footer">
                <div class="col-sm-12 col-xs-12">
                <div class="grid">
                    <div class="col-sm-3">
                        <a href="#"><span>Contact</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>Privacy</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>About us</span></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#"><span>FAQ</span></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <script src="../../public/js/validation_form.js"></script>
        <script src="../../public/js/actions.js"></script>
    </body>
</html>
