<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recover password 2</title>
    </head>
    <body>
        <section>
            <h2>Welcome! please change your password so you can get back your account:</h2>
            <form class="" action="index.html" method="post">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">

                <label for="repeat_password">Password</label>
                <input type="password" name="repeat_password" id="repeat_password" placeholder="Please repeat the previous password">

                <button type="sumit" name="button">Change my password!</button>
            </form>
        </section>
    </body>
</html>
