<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Register</title>
        <link rel="stylesheet" href="../../public/css/auth/basic_style.css">
        <link rel="stylesheet" href="../../public/css/auth/recover_password_style.css">
    </head>
    <body>
        <div class="topnav">
            <div class="link_icon">
                <a href="#" class="edithor-navbar">
                    <div class="topnav-icon">
                        <img id="img_1" border="0" alt="ediTHOR" src="img/thor-trans-2.png">
                        <img id="img_2" border="0" src="img/edithor-text.png" alt="ediTHOR">
                    </div>
                </a>
            </div>
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="recover_password_body">
            <div class="navBar">
                <nav>
                    <ul>
                        <li><a href="#">Editor</a></li>
                        <li><a href="#">My projects</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <figure>
                    <img src="img/thor-trans-1.png" alt="mjolnir">
                </figure>
            </div>
            <div class="recover_password">
                <section>
                    <h2>We have sent you an email so you can get back your account.</h2>
                    <h3>Check your email.</h3>
                    <h3>Didn't get an email?</h3>
                    <button type="submit" name="button">Sent me an email again.</button>
                </section>
            </div>
        </div>
        <footer class="landing-footer">
            <a href="#"><span>Contact</span></a>
            <a href="#"><span>Privacy</span></a>
        </footer>
    </body>
</html>
