<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Log In</title>
        <link rel="stylesheet" href="css/style_basic_style.css">
        <link rel="stylesheet" href="css/style_register.css">
    </head>
    <body>
        <div class="topnav">
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="sideBar">
            <div class="container_links">
                <nav>
                    <ul>
                        <li><a href="#">some image here</a></li>
                        <li><a href="#">Editor</a></li>
                        <li><a href="#">My projects</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </nav>
            </div>
            <div class="logo">
                <figure>
                    <img src="images/mjolnir.jpg" alt="mjolnir">
                </figure>
            </div>
            <div class="register">
                <section>
                    <h2>Register</h2>
                    <form class="register_form" action="#" method="post">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Pick an username">

                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Pick an email">

                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Password">

                        <label for="repeat_password">Password</label>
                        <input type="password" name="repeat_password" id="repeat_password" placeholder="Please repeat the previous password">

                        <button type="sumit" name="button">Register!</button>
                    </form>
                </section>
            </div>
        </div>
        <footer>
    		<h3>Contact us</h3>
    		<ul class="list-unstyled">
    			<li><span uk-icon="receiver"></span> 33 33333333</li>
    			<li><span uk-icon="mail"></span> ediThor@gmail.com</li>
    		</ul>
    	</footer>
    </body>
</html>
