<!DOCTYPE html>
<html lang="en">
<head>
	<title>SHIRT</title>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>
</head>
<body>
	<nav class=" navbar navbar-expand-sm text-center navbar-dark bg-dark sticky-top">
		<a class="navbar-brand" href="index.html">
			<img src="images/logo.png" width="30" height="30" class="d-inline-block align-top">
			Shirts
		</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item">
	        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="login.html">Log in</a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="register.html">Sign up</a>
	      		</li>
	    	</ul>
	  	</div>
	</nav>
	<header>
		<h1>T-shirt creator</h1>
	</header>
	<section id="main-content">
		<h2>Top 10 models</h2>
		<div class="uk-position-relative uk-visible-toggle col-sm-9 mx-auto" uk-slider>
	    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
	        <li>
	        	<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img href="#modal-media-image" class="uk-transition-scale-up uk-transition-opaque" src="images/slider1.jpg" alt="" uk-toggle>
        		</div>
	        	<div id="modal-media-image" class="uk-flex-top" uk-modal>
				    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical uk-inline-clip uk-transition-toggle">
				        <button class="uk-modal-close-outside" type="button" uk-close></button>
				        <img src="images/slider1.jpg" alt="">
				    </div>
				</div>
	            <div class="uk-position-center uk-panel"><h1>1</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider2.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>2</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider3.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>3</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider4.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>4</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider5.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>5</h1></div>
	        </li>
	        <li>
        		<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider6.jpg" alt="">
        		</div>
            	<div class="uk-position-center uk-panel"><h1>6</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider7.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>7</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider8.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>8</h1></div>
	        </li>
	        <li>
	            <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider9.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>9</h1></div>
	        </li>
	        <li>
	        	<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            		<img class="uk-transition-scale-up uk-transition-opaque" src="images/slider0.jpg" alt="">
        		</div>
	            <div class="uk-position-center uk-panel"><h1>10</h1></div>
	        </li>
	    </ul>
	    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
	    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
	    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
		</div>
		<h2>Design your own T-shirt</h2>
		<div class="text-center">
			<iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="660" height="415" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
		</div>
	</section>
	<footer>
		<h3>Contact us</h3>
		<ul class="list-unstyled">
			<li><span uk-icon="receiver"></span> 33 44556677</li>
			<li><span uk-icon="mail"></span> tshirts@gmail.com</li>
		</ul>
	</footer>
</body>
</html>
