<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Log In</title>
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/user/basic_style.css">
        <link rel="stylesheet" href="../../public/css/form_validate.css">

        <link rel="stylesheet" href="../../public/css/commons.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
    </head>
    <body id="super-body">
        <div class="container-fluid" id="container_body">

        </div>
    </body>
    <script type="text/javascript" src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>

    <script type="text/javascript" src="../../public/js/validation_form.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/common_elements.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/after_code_insertion.js"></script>
    <script type="text/javascript" src="../../public/js/api_conection/commons.js"></script>
    <script src="../../public/js/api_conection/users/index.js"></script>
</html>
