<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Personal Info</title>
        <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body>
        <div class="topnav">
            <form class="#" method="post">
                <input type="search" placeholder="Search...">
            </form>
        </div>
        <div class="flex-container">
            <aside class="personal-info">
                <div class="edit-button-container">
                    <button type="submit" name="button" class="edit">
                        Edit
                    </button>
                </div>
                <figure id="perfil">
                    <img id="perfil" src="http://lorempixel.com/200/200/"
                        alt="Foto de perfil"/>
                    <figcaption>
                        Edgardo Pereyra
                    </figcaption>
                </figure>
                <div class="">
                    <p class="email">
                        <span>edgard@</span>
                    </p>
                </div>
                <div class="projects">
                    <p><span>Proyecto2</span></br></p>
                    <p><span >Proyecto1</span></br></p>
                    <p><span>Proyecto3</span></br></p>
                </div>
                <div class="contact-profile">
                    <p>facebook</p>
                    <p>twiter</p>
                    <p>ln</p>
                    <p>git</p>
                </div>
                <div class="">
                    <span>fecha de ingreso</span>
                </div>
            </aside>
            <aside class="personal-info">
                <div class="general-use">
                    <p>uso general-use</p>
                </div>
                <div class="files-load">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                </div>
            </aside>
        </div>
    </body>
</html>
