<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EdiTHOR | Log In</title>
        <link rel="stylesheet" href="../../public/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/user/basic_style.css">
        <link rel="stylesheet" href="../../public/css/form_validate.css">
        <script src="../../public/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
    </head>
    <body id="super-body">
        <div class="container-fluid">
            <div class="row top-nav">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                                <a href="#" class="edithor-navbar">
                                    <div class="topnav-icon">
                                        <img id="img_2" border="0" src="../../public/img/common/test_1.png" alt="ediTHOR">
                                    </div>
                                </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <form class="#" method="post">
                                <input type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center flex-grow" id="filled-element">
                <div class="col-md-6 col-sm-12 logo justify-content-center">
                    <figure>
                        <br>
                        <img src="../../public/img/common/user_2.png" alt="mjolnir">
                    </figure>
                </div>
                <div class="col-md-6 col-sm-12 side-form">
                    <br>
                    <section class="side-logo">
                        <!-- TODO: make h2 and h3 different -->
                        <h2 class="col-sm-12">Name</h2>
                        <h3 class="col-sm-12">some name</h3>
                        <h2 class="col-sm-12">Email</h2>
                        <h3 class="col-sm-12">some email</h3>
                        <h2 class="col-sm-12">Something</h2>
                        <h3 class="col-sm-12">Web project is a project that is slowly killing us :)</h3>
                        <br>
                        <button class="col-md-3 col-sm-6" type="submit" name="button" id="edit-info">Edit</button>
                    <br>
                </div>
            </div>

            <div class="row footer">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Contact</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>Privacy</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>About us</span></a>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <a href="#"><span>FAQ</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../../public/js/vendor/sweetalert2.js"></script>
    <script src="../../public/js/api_conection/commons.js"></script>
    <script src="../../public/js/validation_form.js"></script>
    <script src="../../public/js/api_conection/user/index.js"></script>
    <script src="../../public/js/actions.js"></script>
</html>
